<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="to.rcpt.fefi"
      android:versionCode="1"
      android:versionName="1.0">
    <application android:icon="@drawable/icon" android:label="@string/app_name">
        <activity android:name=".FeFi"
                  android:label="@string/app_name">
        </activity>

	<activity android:name=".TabbedHomeActivity">
		<intent-filter>
			<action android:name="android.intent.action.MAIN" />
			<category android:name="android.intent.category.LAUNCHER" />
		</intent-filter>
    </activity>
<activity android:name="EyefiCardEditActivity"></activity>
<activity android:name="EyefiCardListActivity"></activity>
<activity android:name="IncomingImagesActivity"></activity>
<activity android:name="EyefiCardScanActivity"></activity>
<service android:name="EyefiReceiverService"></service>
</application>



<uses-permission android:name="android.permission.INTERNET"></uses-permission>

<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
</manifest> 